.app{
  --bg-color-1:#9db3ed;
  --bg-color-2:white;
  --text-color-1:#0b1537;
  --text-color-2:#636363;
  --bg-image: url(https://www.hitbullseye.com/images/school.svg);
  --box-shadow-1:5px 5px 20px #0d183d;
}
.app[data-them="dark"]{
  --bg-color-1:#172d67;
  --bg-color-2:#0d183d;
  --text-color-1:white;
  --text-color-2:#bbbcbc;
  --bg-image: url(https://raw.githubusercontent.com/vishal470/guess_word_bullseye/main/Dark.jpg);
  --box-shadow-1:5px 5px 15px #9db3ed;
}



.app{
  background-image: var(--bg-image);
  min-height: 86.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-calculator{
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: var(--box-shadow-1);
  position: relative;
  top:5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app_calculator_navbar{
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: transparent;
  min-height: 40px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.app_calculator_navbar img{
  height: 24px;
  width: 24px;
}

.app_calculator_navbar_toggle{
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, .14);
}

.app_calculator_navbar_toggle_circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 30ms ;
}

.app_calculator_navbar_toggle_circle_active{
  margin-left: 15px;
}